
.body {
    background-color: #fbfbfb;
}

@media (min-width: 1090px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 860px) {

    .sidebar {
        width: 60%;
    }
}

.list-group-item {
    border: none;
}

.logo {
    max-height: 80px;
}

.sidebar .active {
    border-radius: 25px;
    box-shadow: 0 2px 5px 0, 0 2px 10px 0;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item-action:hover {
    background-color: #E6FFFD;
    border-radius: 25px;
}

.nav-itemser {
    list-style: none;
}

.mainbody {
    margin-left: 117px;
    margin-top: 75px;
}



.badge1 {
    position: absolute;
    margin-top: 12px;
    margin-left: -15px;
    background-color: #082c61;
    color: white;
    width: 21px;
    height: 20px;
    border-radius: 84%;
    border: none;
    text-align: center;
    font-size: 11px;
}

.badge {
    position: absolute;
    background-color: #082c61;
    color: white;
    margin-top: 11px;
    margin-left: -12px;
    width: 21px;
    height: 20px;
    border-radius: 84%;
    border: none;
    text-align: center;
    font-size: 11px;
}
